<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/new-portfolio/assets/css/style.css">
</head>
<body>
  <header style="text-align: center; padding: 20px;">
    <h1 style="color: black;">Mutasem A. Razzek Portfolio</h1>
    <nav>
      <a href="/new-portfolio/index.html">Home</a> |
      <a href="/new-portfolio/aerospace-mechanical.html">Aerospace & Mechanical Projects</a> |
      <a href="/new-portfolio/rocketry.html">Rocket</a> |
      <a href="/new-portfolio/oil-gas.html">Oil & Gas Engineering Projects</a> |
      <a href="/new-portfolio/aviation.html">Aviation Experience</a> |
      <a href="/new-portfolio/skills.html">Skills & Education</a>
    </nav>
  </header>

  <main class="page__content">
    {{ content }}
  </main>
</body>
</html>
